*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #FFF8F3;
  padding-top: 50px;

}
.logo {
  font-size: 45px;
  font-weight: 900;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 26px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    
}
nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-size: 20px;
    color: #474747;
}