*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #FFF8F3;
  padding-top: 50px;
  background: url("../images/header_bg.png"), url("../images/developer.png"),#FFF8F3;
  background-position: bottom right, 38px 31px;
  background-repeat: no-repeat, no-repeat;

}
.logo {
  font-size: 45px;
  font-weight: 900;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 26px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    
}
nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-size: 20px;
    color: #474747;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0 230px;
}
.text-area{
    max-width: 585px;

}
.container .image-area img{
    max-width: 584px;
    vertical-align: middle;
}
.about-me{
    padding-top: 94px;
    
}
.section-heading{
  margin: 0 auto;
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  text-align: center;
  padding: 131px 156px;
}
.section-heading .card-info{
  display: flex;
  justify-content: space-around;
}
.about-me .section-heading .main-heading h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}
.about-me .section-heading .main-heading p{
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.about-me .section-heading .card-info{
  padding: 0 22.3px;
}
.about-me .section-heading .card-info p{
  font-size: 20px;
  color: #757575;
}
.about-me .section-heading .card-info h2{
  font-size: 20px;
  color: #4f4848;
}
.what-i-do{
  padding-top: 131px;
}
.what-i-do .skill{
  margin: 0 auto;
  width: 71%;
  max-width: 1140px;
  
}
.what-i-do .skill .main-heading{
  padding: 0px 156px;
}
.what-i-do .skill .main-heading h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;

}
.what-i-do .skill .main-heading p{
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.skill .skill-name{
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.skill-name .skill-box{
  padding: 30px;
  box-shadow: 0 6px 50px 0 #00000018;
  background-color: #FFFFFF;
  max-width: 267px;
}
.skill-name .skill-box img{
  max-width: 40px;
  padding-bottom: 30px; 
}
.skill-name .skill-box h3{
  font-size: 20px;
  color: #4f4848;
  padding-bottom: 20px;
  max-width: 204px;
}
.skill-name .skill-box p{
  font-size: 16px;
  color: #757575;
  max-width: 204px;
  line-height: 28px;
}
#edu-exp{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;

}
#edu-exp .heading-edu-exp{
  padding-top: 131px;
  padding-bottom: 113px;
  text-align: center;

}
#edu-exp .educa-expri {
  display: flex;
  justify-content: space-around; 
  gap: 20px;
}
#edu-exp .educa-expri .educa{
  max-width: 511px;
}
#edu-exp .educa-expri  .educa h3{
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  padding-bottom: 30px;
}
#edu-exp .educa-expri  .educa .college{
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  padding-bottom: 10px;

}
#edu-exp .educa-expri  .educa p{
  font-size: 16px;
  color: #474747;
  padding-bottom: 30px;
  line-height: 28px;
  margin-right: 47px;
}
#edu-exp .educa-expri  .educa .college-name{
  font-size: 20px;
  font-weight: 600;
  color: #474747;
}
#edu-exp .educa-expri .experience{
  max-width: 511px;
}
#edu-exp .educa-expri  .experience h3{
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  padding-bottom: 30px;
}
#edu-exp .educa-expri  .experience .college{
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  padding-bottom: 10px;
}
#edu-exp .educa-expri  .experience p{
  font-size: 16px;
  color: #474747;
  padding-bottom: 30px;
  line-height: 28px;
  margin-right: 47px;
}
#edu-exp .educa-expri  .experience .college-name{
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  padding-bottom: 20px;
}
#footer{
  background-color: #FFF8F3;
}
.footer-main{
  display: flex;
  justify-content: space-between;
  width: 71%;
  max-width: 1140px;
  gap: 117px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}
.foooter-main .footer-main .contract .footer-heading{
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}
.footer-main .contract p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  padding-bottom: 30px;
}
.footer-main .message-me form input[type="text"]{
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;

}
.footer-main .message-me form input[type="email"]{
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;

}

.footer-main .message-me form textarea{
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  font-size: 17px;

}